{{ if eq .osid "linux-debian" -}}
#!/bin/bash

{{ if and (hasKey .packages "debian") (hasKey .packages.debian "apt") .packages.debian.apt -}}
apt-get update
apt-get install -y \
{{ range .packages.debian.apt -}}
  {{ . | quote }} \
{{ end }}
{{ end -}}

{{ if and (hasKey .packages "debian") (hasKey .packages.debian "snap") .packages.debian.snap (not (stat "/etc/pve")) -}}
{{ range .packages.debian.snap -}}
sudo snap install --classic {{ . | quote }}
{{ end -}}
{{ end -}}
{{ end -}}
