{{ if (stat "/etc/pve") -}}
#!/bin/bash

apt-get update
apt-get install -y \
{{ range .packages.debian.apt -}}
  {{ . | quote }} \
{{ end }}
{{ else if eq .osid "linux-debian" -}}
#!/bin/bash

sudo apt-get update
sudo apt-get install -y \
{{ range .packages.debian.apt -}}
  {{ . | quote }} \
{{ end }}

{{ range .packages.debian.snap -}}
sudo snap install --classic {{ . | quote }}
{{ end }}
{{ end -}}
