{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

{{ $hasFormula := and (hasKey .packages "darwin") (hasKey .packages.darwin "formula") .packages.darwin.formula -}}
{{ $hasCask := and (hasKey .packages "darwin") (hasKey .packages.darwin "cask") .packages.darwin.cask -}}

{{ if or $hasFormula $hasCask -}}
brew bundle --file=/dev/stdin <<EOF
{{ if $hasFormula -}}
{{ range .packages.darwin.formula -}}
brew {{ . | quote }}
{{ end -}}
{{ end -}}
{{ if $hasCask -}}
{{ range .packages.darwin.cask -}}
cask {{ . | quote }}
{{ end -}}
{{ end -}}
EOF
{{ end -}}
{{ end -}}
