{
  "$schema": "https://github.com/fastfetch-cli/fastfetch/raw/dev/doc/json_schema.json",
  "logo": {
    {{- if eq .chezmoi.os "darwin" -}}
    "source": "~/.config/fastfetch/logos/apple_macchiato.png",
    "type": "kitty",
    {{- end -}}
    {{- if stat "/etc/rpi-issue" -}}
    "source": "/usr/share/raspberrypi-artwork/raspberry-pi-logo.png",
    "type": "kitty",
    {{- end -}}
    {{- if lookPath "pveversion" -}}
    "source": "/usr/share/pve-yew-mobile-gui/images/proxmox-icon-512.png",
    "type": "iterm",
    {{- end -}}
    {{- if eq .chezmoi.os "fedora" -}}
    "source": "/usr/share/pixmaps/fedora-logo-sprite.png",
    "type": "kitty",
    {{- end -}}
    "height": 12,
    "padding": {
      "top": 1,
      "left": 2,
      "right": 2
    }
  },
  "modules": [
    {
      "type": "custom",
      "format": "┌───────────────────────────────────────────┐",
      "outputColor": "white"
    },
    {
      "type": "title",
      "key": "   PC",
      "keyColor": "green"
    },
    {
      "type": "battery",
      "key": "  ├─ Battery",
      "keyColor": "green"
    },
    {
      "type": "cpu",
      "key": "  ├─󰍛 CPU",
      "showPeCoreCount": true,
      "temp": true,
      "format": "{name}",
      "keyColor": "green"
    },
    {
      "type": "gpu",
      "key": "  ├─󰍛 GPU",
      "temp": true,
      "format": "{name}",
      "keyColor": "green"
    },
    {
      "type": "disk",
      "key": "  └─ Disk",
      "format": "{size-used} / {size-total} ({size-percentage})",
      "keyColor": "green"
    },
    "break",
    {
      "type": "os",
      "key": "   OS",
      "format": "{name} {codename} {version}",
      "keyColor": "yellow"
    },
    {
      "type": "kernel",
      "key": "  ├─ Kernel",
      "keyColor": "yellow"
    },
    {
      "type": "packages",
      "key": "  ├─󰏖 Packages",
      "keyColor": "yellow"
    },
    {
      "type": "shell",
      "key": "  ├─ Shell",
      "keyColor": "yellow"
    },
    {
      "type": "terminal",
      "key": "  ├─ Term",
      "format": "{pretty-name}",
      "keyColor": "yellow"
    },
    {
      "type": "uptime",
      "key": "  └─󰔚 Uptime",
      "keyColor": "yellow"
    },
    {
      "type": "custom",
      "format": "└───────────────────────────────────────────┘",
      "outputColor": "white"
    },
    {
      "type": "custom",
      "format": "    \u001b[31m    \u001b[32m    \u001b[33m    \u001b[34m    \u001b[35m    \u001b[36m    \u001b[37m    \u001b[90m    "
    }
  ]
}
